@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

section:before {
  content: '';
  position: absolute;
  width: 30vw;
  height: 30vh;
  border: 5vw solid #ff4500;
  border-radius: 50%;
  box-shadow: 0 0 0 1vw #111,
              0 0 0 1.3vw #87ceeb;
}

h2 {
  position: absolute;
  font-size: 10vw;
  color: gold;
  text-shadow: 2px 2px 0 #111,
               4px 4px 0 #ff4500,
               6px 6px 0 #111;
  text-align: center;
  line-height: 2em;
  z-index: 5;
  transform: skewY(-7deg)
}

h2 span {
  font-size: 12vw;
}
